      body {
        background-color: #222;
        color: #fff;
        font-family: "Arial", sans-serif;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        margin: 0;
      }

      .calculator {
        background-color: #333;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        overflow: hidden;
        width: 300px;
      }
      .display {
        background-color: #444;
        padding: 20px;
        text-align: rght;
        font-size: 1.5em;
        width: calc(100% - 20px);
        margin: 0 auto;
      }
      #display-box{
        padding: 5%;
      }

      .keys {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
      }

      .button {
        border: none;
        outline: none;
        padding: 20px;
        font-size: 1.2em;
        cursor: pointer;
        transition: background-color 0.3s;
      }

      .button.operations {
        background-color: #3f3b3b;
        color: #fff;
      }

      .button.key {
        background-color: #333;
        color: #fff;
      }

      .button.operation {
        background-color: #23c56c;
        color: #fff;
      }

      .button.total {
        background-color: #ff9800;
        color: #fff;
      }
      .button.clear {
        background-color: #333;
        color: #fff;
      }
